/* mobile and tablet  */
@media (max-width: 64em){
    .place-buy-btn {
        padding: 14px 16px;
    }
    .form-control {
        padding: 15px;
    }
    .socials-list {
        font-size: 48px;
    }
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 64em){
    .info-contact{
        line-height: 2;
    }
    
}
/* mobile  */
@media (max-width: 46.1875em){
    .s-col-full,
    .s-full-width{
        width: 100% !important;
    }
    .s-mt-8{
        margin-top: 8px;
    }

    #main{
        overflow: hidden;
    }
    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }
    #header {
        overflow: hidden;
    }
    #header .search-btn{
        display: none;
    }
    #header .menu-btn{
        display: block;
    }
    #nav li:nth-child(1) {
        display: inline-block;
    }
    #nav .subnav{
        background: rgb(92, 91, 91);
    }
    #nav .subnav li a{
        color: white;
        padding: 5px 41px;
    }
    
    .list-access  .img-access{
        margin-top: 16px;
    }

}